rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Public devotional assets: Audio and images can be read/streamed by all users
    match /songs/{allPaths=**} {
      allow read, delete: if true;
      allow create, update: if request.resource.size < 50 * 1024 * 1024; // Limit max file size to 50MB
    }

    // Categories & App assets
    match /categories/{allPaths=**} {
      allow read, write: if true;
    }
  }
}
