rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Public devotional assets: Audio and images can be read/streamed by all users
    match /songs/{allPaths=**} {
      allow read, write: if true;
    }

    // Categories & App assets
    match /categories/{allPaths=**} {
      allow read, write: if true;
    }
  }
}
